* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header{
  width: 100%;
  height: 50px;
  background-color: #FF9933;
}

main{
  margin-top: 50px ;
  margin-bottom: 50px;
  display: block;
  flex-direction: column;
  justify-content: center;
}

.main-box{
  margin: 0 5% 20px 5%;
  padding: 10px;
  background-color: #eee;
  position: relative;
 
}

.memo {
  font-size: 12px;
  font-family: ヒラギノ角ゴシック w0;
}

.img1 {
  height: 150px;
  background-image: url(img/flow01.png) ;
  background-position: bottom;
  background-size: cover;
}

 .main-sub-text1{
  position: absolute;
  top: 0;
  left: 0;
  background-color: #FF9933;
  color: #fff;
  font-size: 14px;
  line-height: 1;
  padding: 4px 1px;
  font-family: ヒラギノ角ゴシック w0;
}

.img2 {
  height: 150px;
  background-image: url(img/flow02.png) ;
  background-position: bottom;
  background-size: cover;
}

.main-sub-text2{
  position: absolute;
  top: 0;
  left: 0;
  background-color: #FF9933;
  color: #fff;
  font-size: 14px;
  line-height: 1;
  padding: 4px 1px;
  font-family: ヒラギノ角ゴシック w0;
}

.img3 {
  height: 150px;
  background-image: url(img/flow03.png) ;
  background-position: bottom;
  background-size: cover;
}

.main-sub-text3{
  position: absolute;
  top: 0;
  left: 0;
  background-color: #FF9933;
  color: #fff;
  font-size: 14px;
  line-height: 1;
  padding: 4px 1px;
  font-family: ヒラギノ角ゴシック w0;
}

.main-text{
  margin: 15px 0 5px;
}

footer{
  height: 50px;
  background-color: #aaa;
}

@media screen and (max-width: 425px) {
  .header{
    width: 100%;
  }

  main{
    width: 100%;
  }

  footer{
    width: 100%;
  }
}